* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: beige;
}
.booklist {
  display: grid;
  row-gap: 2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(2, 1fr);
    /* align-items: start; */
  }
}
img {
  width: 31vw;
}
